* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(83, 83, 83);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 8rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cont {
  width: 30rem;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo img {
  width: 200px;
  height: 150px;
  transition: .3s;
}

.logo img:hover {
  opacity: .7;
}

.logo {
  cursor: pointer;
  width: 200px;
  height: 70px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

input {
  width: 30rem;
  height: 30px;
  border-radius: 3rem;
  border: none;
  background-color: #ffffff33;
  margin-left: 30px;
  color: white;
}

.pesquise {
  display: flex;
}

.search img{
  margin-left: -30px;
  display: flex;
  margin-top: 5px;
}

input::placeholder {
  margin-left: 3px;
}

#name::placeholder {
  padding-left: 10px;
  font-size: 14px;
  color: white;
}

.login {
  width: 40rem;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

.login h2 a {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  transition: .3s;
}

.login h2 a:hover {
  opacity: .7;
}

main {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.37);
}

.nav-list ul{
  width: 40rem;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
}

.r1 {
  width: .5px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.329);
}

.nav-links li a {
  color: black;
  font-weight: 500;
}

.o1 {
  transition: .3s;
  transition: transform 500ms;
}

.o1:hover {
  transform: translateY(-5px);
  opacity: .7;
}

.o2 {
  transition: .3s;
  transition: transform 500ms;
}

.o2:hover {
  transform: translateY(-5px);
  opacity: .7;
}

.o3 {
  transition: .3s;
  transition: transform 500ms;
}

.o3:hover {
  transform: translateY(-5px);
  opacity: .7;
}

.o4 {
  transition: .3s;
  transition: transform 500ms;
}

.o4:hover {
  transform: translateY(-5px);
  opacity: .7;
}

.btn-hamburguer {
  cursor: pointer;
  transition: .3s;
  display: none;
}

.btn-hamburguer:hover {
  opacity: .7;
}

.btn-hamburguer div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 8px;
}

nav {
  width: 100%;
  height: 70vh;
  background-image: url(/assets/background-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.lancamento {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.quadrado {
  width: 80rem;
  height: 40rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.363);
  display: flex;
  align-items: center;
  transition: .3s;
  transition: transform 700ms;
  cursor: pointer;
}

.quadrado:hover {
  transform: scale(1.030);
}

.produto {
  width: 40rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.produtofinal {
  width: 20rem;
  height: 20rem;
  background-image: url(/assets/relogio.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.modelo {
  width: 40rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titulo {
  width: 40rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 40rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao {
  width: 8rem;
  height: 3rem;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: pointer;
  transition: ease-in-out .3s;
}

.botao:hover {
  opacity: .8;
}

.botao a {
  color: white;
}

@media screen and (max-width: 1340px ) {
  .login {
     display: none;
   }
 
   .btn-hamburguer {
     display: block;
   }
 
   header {
     display: flex;
     flex-direction: column;
     height: 13rem;
     align-items: center;
     justify-content: space-around;
   }
 
   .cont {
     justify-content: center;
     width: 100%;
     display: flex;
     flex-direction: column;
     height: 3rem;
   }

   .container {
     height: 65rem;
     width: 100%;
   }

   .quadrado:hover {
     transform: none;
   }

   .cat {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .quadrado {
    justify-content: space-around;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 55rem;
   }

   input {
     width: 100%;
   }
 
   .nav-list {
     width: 100%;
     justify-content: space-around;
     display: flex;
   }
 
   .nav-links {
     width: 100%;
     justify-content: space-around;
     display: flex;
   }

   .preco {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .produto{
     width: 100%;
   }

   .produtofinal img {
     width: 100px;
     height: 100px;
   }

   .modelo {
     width: 30rem;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .titulo {
     width: auto;
   }

   .btn {
     width: 15rem;
   }

 }

 @media screen and (max-width: 1340px ) {
  .login {
     display: none;
   }
 
   .btn-hamburguer {
     display: block;
   }
 
   header {
     display: flex;
     flex-direction: column;
     height: 13rem;
     align-items: center;
     justify-content: space-around;
   }
 
   .cont {
     justify-content: center;
     width: 100%;
     display: flex;
     flex-direction: column;
     height: 3rem;
   }

   .container {
     height: 65rem;
     width: 100%;
   }

   .quadrado:hover {
     transform: none;
   }

   .cat {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .quadrado {
    justify-content: space-around;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 55rem;
   }

   input {
     width: 100%;
   }
 
   .nav-list {
     width: 100%;
     justify-content: space-around;
     display: flex;
   }
 
   .nav-links {
     width: 100%;
     justify-content: space-around;
     display: flex;
   }

   .preco {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .produto{
     width: 100%;
   }

   .produtofinal img {
     width: 100px;
     height: 100px;
   }

   .modelo {
     width: 20rem;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .titulo {
     width: auto;
   }

   .btn {
     width: 15rem;
   }

 }

.background2 {
  width: 100%;
  height: 55rem;
  background-image: url(/assets/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.background2 h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
}

.outlet-produtos {
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.e1 {
  width: 30rem;
  height: 30rem;
  background-image: url(/assets/modelo-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: transform 700ms;
  transition: .3s;
}

.e1:hover {
  transform:scale(1.060);
}

.e2 {
  width: 30rem;
  height: 30rem;
  background-image: url(/assets/modelo-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: transform 700ms;
  transition: .3s;
}

.e2:hover {
  transform:scale(1.060);
}

.e3 {
  width: 30rem;
  height: 30rem;
  background-image: url(/assets/modelo-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: transform 700ms;
  transition: .3s;
}

.e3:hover {
  transform:scale(1.060);
}

.vazio {
  width: 100%;
  height: 5rem;
}

footer {
  width: 100%;
  height: 30rem;
  background-color: black;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.logo-footer img{
  width: 200px;
  height: 200px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.social-media {
  display: flex;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  align-items: center;

}

.img-cont {
  width: 20rem;
  display: flex;
  justify-content: space-around;
}

.wpp:hover {
  cursor: pointer;
  opacity: 1;
}

.wpp {
  transition: .3s;
}

.insta:hover {
  cursor: pointer;
  opacity: 1;
}

.insta {
  transition: .3s;
}

.face:hover {
  cursor: pointer;
  opacity: 1;
}

.face {
  transition: .3s;
}

.tt:hover {
  cursor: pointer;
  opacity: 1;
}

.tt {
  transition: .3s;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts p {
  color: white;
  cursor: pointer;
  transition: .3s;
}

.contacts p:hover {
  opacity: .8;
}